{% extends "layouts/layout-jumbotron.twig" %}
{% set page_group = "loggedout" %}

{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}
    
    {% set page = page | merge({
        "title"       : "Login",
        "description" : "Login to your Curpha account.",
        "active_page" : "account/login"
    }) %}    

    {{ parent() }}
{% endblock %}

{% block content %}
   
<!-- My Login -->
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">
        <div class="panel-heading">
            <h3 class="text-center"> Sign In to 
                <strong class="text-custom" style="color: #1aa9cb;">
                    CURPHA
                </strong>
                <!--<a href="http://www.curpha.com/" 
                       class="" 
                       target="_blank">
                    <span>
                        <img src="../assets/images/curpha-logo.png" height="45" width="35%"/>
                    </span>
                </a>-->
            </h3>
            
            {% include 'components/common/alerts.twig' %}
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-20" name="login" method="post" action="{{site.uri.public}}/account/login" class="form-horizontal">
                
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" 
                               type="text" required="" 
                               placeholder="Username" type="text" 
                               class="form-control " 
                               name="user_name" 
                               autocomplete="off" 
                               value="" 
                               placeholder="{{ (site.email_login == 1) ? 'Username or Email' : 'Username' }}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" 
                               type="password" 
                               required="" 
                               placeholder="Password" type="password" 
                               class="form-control " 
                               name="password" 
                               autocomplete="off" value="" placeholder="Password">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox-signup" type="checkbox" name="rememberme">
                            <label for="checkbox-signup"> Remember me </label>
                        </div>

                    </div>
                </div>

                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button 
                                class="btn btn-pink btn-block text-uppercase waves-effect waves-light"
                                type="submit" type="submit" class="btn btn-success">Log In
                        </button>
                    </div>
                </div>

                <div class="form-group m-t-20 m-b-0">
                    <div class="col-sm-12">
                        <a href="{{site.uri.public}}/account/forgot-password" class="text-dark"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                    </div>
                </div>
						
                <div class="form-group m-t-20 m-b-0">
                    <div class="col-sm-12 text-center">
                        <h4><b>Sign in with</b></h4>
                    </div>
                </div>
						
                <div class="form-group m-b-0 text-center">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-facebook waves-effect waves-light m-t-20">
                           <i class="fa fa-facebook m-r-5"></i> Facebook
                        </button>

                        <button type="button" class="btn btn-twitter waves-effect waves-light m-t-20">
                           <i class="fa fa-twitter m-r-5"></i> Twitter
                        </button>

                        <button type="button" class="btn btn-googleplus waves-effect waves-light m-t-20">
                           <i class="fa fa-google-plus m-r-5"></i> Google+
                        </button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <p>Don't have an account? 
                <a href="{{site.uri.public}}/account/register" 
                   class="text-pink m-l-5 sign-color">
                    <b>Sign Up</b>
                </a>
            </p>

        </div>
    </div>
</div>
<!-- End My Login -->

{% endblock %}
 
{% block page_scripts %}
    <script>
        $(document).ready(function() {           
            // Process form 
            ufFormSubmit(
                $("form[name='login']"),
                {{ validators | raw }},
                $("#userfrosting-alerts"),
                function(data, statusText, jqXHR) {
                    // Forward to home page on success
                    window.location.replace(site['uri']['public']);
                }
            );
        });          
    </script>
{% endblock %}









