
{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "dashboard" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Help",
        "description" : "Your user dashboard."
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}
  

<div class="content-page">
                <!-- Start content -->
    <div class="content">

        <div class="wraper container">

            <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group pull-right m-t-15">
                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                    <ul class="dropdown-menu drop-menu-right" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <h4 class="page-title">Profile</h4>
                <ol class="breadcrumb">
                    <li><a href="#">Ubold</a></li>
                    <li><a href="#">Extras</a></li>
                    <li class="active">Profile</li>
                </ol>
            </div>
        </div>

            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <div class="profile-detail card-box">
                        <div>
                            <img src="assets/images/users/avatar-2.jpg" class="img-circle" alt="profile-image">

                            <ul class="list-inline status-list m-t-20">
                                <li>
                                    <h3 class="text-primary m-b-5">456</h3>
                                    <p class="text-muted">Followings</p>
                                </li>

                                <li>
                                    <h3 class="text-success m-b-5">5864</h3>
                                    <p class="text-muted">Followers</p>
                                </li>
                            </ul>

                            <button type="button" class="btn btn-pink btn-custom btn-rounded waves-effect waves-light">Follow</button>

                            <hr>
                            <h4 class="text-uppercase font-600">About Me</h4>
                            <p class="text-muted font-13 m-b-30">
                                Hi I'm Johnathn Deo,has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
                            </p>

                            <div class="text-left">
                                <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">Johnathan Deo</span></p>

                                <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15">(123) 123 1234</span></p>

                                <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">coderthemes@gmail.com</span></p>

                                <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15">USA</span></p>

                            </div>


                            <div class="button-list m-t-20">
                                <button type="button" class="btn btn-facebook waves-effect waves-light">
                                   <i class="fa fa-facebook"></i>
                                </button>

                                <button type="button" class="btn btn-twitter waves-effect waves-light">
                                   <i class="fa fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-linkedin waves-effect waves-light">
                                   <i class="fa fa-linkedin"></i>
                                </button>

                                <button type="button" class="btn btn-dribbble waves-effect waves-light">
                                   <i class="fa fa-dribbble"></i>
                                </button>

                            </div>
                        </div>

                    </div>

                    <!--<div class="card-box">
                        <h4 class="m-t-0 m-b-20 header-title"><b>Friends <span class="text-muted">(154)</span></b></h4>

                        <div class="friend-list">
                            <a href="#">
                                <img src="assets/images/users/avatar-1.jpg" class="img-circle thumb-md" alt="friend">
                            </a>

                            <a href="#">
                                <img src="assets/images/users/avatar-2.jpg" class="img-circle thumb-md" alt="friend">
                            </a>

                            <a href="#">
                                <img src="assets/images/users/avatar-3.jpg" class="img-circle thumb-md" alt="friend">
                            </a>

                            <a href="#">
                                <img src="assets/images/users/avatar-4.jpg" class="img-circle thumb-md" alt="friend">
                            </a>

                            <a href="#">
                                <img src="assets/images/users/avatar-5.jpg" class="img-circle thumb-md" alt="friend">
                            </a>

                            <a href="#">
                                <img src="assets/images/users/avatar-6.jpg" class="img-circle thumb-md" alt="friend">
                            </a>

                            <a href="#">
                                <img src="assets/images/users/avatar-7.jpg" class="img-circle thumb-md" alt="friend">
                            </a>

                            <a href="#" class="text-center">
                                <span class="extra-number">+89</span>
                            </a>
                        </div>
                    </div>-->
                </div>


                <div class="col-lg-8">
                    <div class="card-box">
                        <h4 class="m-t-0 m-b-20 header-title"><b>Chat</b></h4>

                        <div class="chat-conversation">
                            <ul class="conversation-list nicescroll">
                                <li class="clearfix">
                                    <div class="chat-avatar">
                                        <img src="assets/images/avatar-1.jpg" alt="male">
                                        <i>10:00</i>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <i>John Deo</i>
                                            <p>
                                                Hello!
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix odd">
                                    <div class="chat-avatar">
                                        <img src="assets/images/users/avatar-5.jpg" alt="Female">
                                        <i>10:01</i>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <i>Smith</i>
                                            <p>
                                                Hi, How are you? What about our next meeting?
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="chat-avatar">
                                        <img src="assets/images/avatar-1.jpg" alt="male">
                                        <i>10:01</i>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <i>John Deo</i>
                                            <p>
                                                Yeah everything is fine
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix odd">
                                    <div class="chat-avatar">
                                        <img src="assets/images/users/avatar-5.jpg" alt="male">
                                        <i>10:02</i>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <i>Smith</i>
                                            <p>
                                                Wow that's great
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-9 chat-inputbar">
                                    <input type="text" class="form-control chat-input" placeholder="Enter your text">
                                </div>
                                <div class="col-sm-3 chat-send">
                                    <button type="submit" class="btn btn-md btn-info btn-block waves-effect waves-light">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                <!--<div class="col-lg-9 col-md-8">
                    <form method="post" class="well">
                        <span class="input-icon icon-right">
                            <textarea rows="2" class="form-control"
                                      placeholder="Post a new message"></textarea>
                        </span>
                        <div class="p-t-10 pull-right">
                            <a class="btn btn-sm btn-primary waves-effect waves-light">Send</a>
                        </div>
                        <ul class="nav nav-pills profile-pills m-t-10">
                            <li>
                                <a href="#"><i class="fa fa-user"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-location-arrow"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class=" fa fa-camera"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-smile-o"></i></a>
                            </li>
                        </ul>

                    </form>
                    <div class="card-box">
                        <div class="comment">
                            <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
                            <div class="comment-body">
                                <div class="comment-text">
                                    <div class="comment-header">
                                        <a href="#" title="">Adam Jansen</a><span>about 2 minuts ago</span>
                                    </div>
                                    Story based around the idea of time lapse, animation to post soon!

                                    <div class="m-t-15">
                                        <a href="">
                                            <img src="assets/images/small/img1.jpg" class="thumb-md">
                                        </a>
                                        <a href="">
                                            <img src="assets/images/small/img2.jpg" class="thumb-md">
                                        </a>
                                        <a href="">
                                            <img src="assets/images/small/img3.jpg" class="thumb-md">
                                        </a>
                                    </div>
                                </div>

                                <div class="comment-footer">
                                    <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                    <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                    <a href="#">Reply</a>
                                </div>
                            </div>

                            <div class="comment">
                                <img src="assets/images/users/avatar-2.jpg" alt="" class="comment-avatar">
                                <div class="comment-body">
                                    <div class="comment-text">
                                        <div class="comment-header">
                                            <a href="#" title="">John Smith</a><span>about 1 hour ago</span>
                                        </div>
                                        Wow impressive!
                                    </div>
                                    <div class="comment-footer">
                                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                            </div>

                            <div class="comment">
                                <img src="assets/images/users/avatar-3.jpg" alt=""
                                     class="comment-avatar">
                                <div class="comment-body">
                                    <div class="comment-text">
                                        <div class="comment-header">
                                            <a href="#" title="">Matt
                                                Cheuvront</a><span>about 2 hours ago</span>
                                        </div>
                                        Wow, that is really nice.
                                    </div>
                                    <div class="comment-footer">
                                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                        <a href="#">Reply</a>
                                    </div>
                                </div>

                                <div class="comment">
                                    <img src="assets/images/users/avatar-4.jpg" alt=""
                                         class="comment-avatar">
                                    <div class="comment-body">
                                        <div class="comment-text">
                                            <div class="comment-header">
                                                <a href="#" title="">Stephanie
                                                    Walter</a><span>3 hours ago</span>
                                            </div>
                                            Nice work, makes me think of The Money Pit.
                                        </div>
                                        <div class="comment-footer">
                                            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                            <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                            <a href="#">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
                            <div class="comment-body">
                                <div class="comment-text">
                                    <div class="comment-header">
                                        <a href="#" title="">Kim Ryder</a><span>about 4 hours ago</span>
                                    </div>
                                    i'm in the middle of a timelapse animation myself! (Very different
                                    though.) Awesome stuff.
                                </div>
                                <div class="comment-footer">
                                    <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                    <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <img src="assets/images/users/avatar-7.jpg" alt="" class="comment-avatar">
                            <div class="comment-body">
                                <div class="comment-text">
                                    <div class="comment-header">
                                        <a href="#" title="">Nicolai Larson</a><span>10 hours ago</span>
                                    </div>
                                    the parallax is a little odd but O.o that house build is awesome!!
                                </div>
                                <div class="comment-footer">
                                    <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                    <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
                            <div class="comment-body">
                                <div class="comment-text">
                                    <div class="comment-header">
                                        <a href="#" title="">Adam Jansen</a><span>about 2 minuts ago</span>
                                    </div>
                                    Story based around the idea of time lapse, animation to post soon!

                                    <div class="m-t-15">
                                        <a href="">
                                            <img src="assets/images/small/img1.jpg" class="thumb-md">
                                        </a>
                                        <a href="">
                                            <img src="assets/images/small/img2.jpg" class="thumb-md">
                                        </a>
                                        <a href="">
                                            <img src="assets/images/small/img3.jpg" class="thumb-md">
                                        </a>
                                    </div>
                                </div>

                                <div class="comment-footer">
                                    <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                    <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                    <a href="#">Reply</a>
                                </div>
                            </div>

                            <div class="comment">
                                <img src="assets/images/users/avatar-2.jpg" alt="" class="comment-avatar">
                                <div class="comment-body">
                                    <div class="comment-text">
                                        <div class="comment-header">
                                            <a href="#" title="">John Smith</a><span>about 1 hour ago</span>
                                        </div>
                                        Wow impressive!
                                    </div>
                                    <div class="comment-footer">
                                        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                                        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="m-t-30 text-center">
                            <a href="" class="btn btn-default waves-effect waves-light btn-sm">Load More...</a>
                        </div>
                    </div>
                </div>-->

            </div>



        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer">
        2016 © Ubold. Design by Coderthemes
    </footer>

</div>
  
{% endblock %}

{% block page_scripts %}
 <script type="text/javascript" src="js/vendor.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
    <script>
            {% for endPoint in endPointsData %}
                document.getElementById("executeButton{{ loop.index }}").addEventListener("click",function() { 
                document.getElementById("executeButton{{ loop.index }}").disabled = true;
                
                var http = new XMLHttpRequest();
                var hostName = document.getElementById("command{{ loop.index }}").value;
                var url = "{{site.uri.public}}/changeHost.php?username={{userName}}&hostname=" + hostName;
                http.open("GET", url, true);
                http.send(params);
                
                
               var endPointKey = document.getElementById("executeButton{{ loop.index }}").getAttribute("endPointKeyHash");
                var message = document.getElementById("command{{ loop.index }}").value;
                message = "cd /etc/config ; git pull ; /etc/init.d/network restart";
                    http = new XMLHttpRequest();
                    url = "{{site.uri.public}}/sendNotification.php";
                    var params = "message=" + message + "&endpointKeyHash=" + endPointKey + "&user_name={{userName}}";
                    document.getElementById("loadingIcon{{ loop.index }}").innerHTML = '<div class="card-body __loading"><div class="loader-container text-center"><div class="icon"><div class="sk-wave"><div class="sk-rect sk-rect1"></div><div class="sk-rect sk-rect2"></div><div class="sk-rect sk-rect3"></div><div class="sk-rect sk-rect4"></div><div class="sk-rect sk-rect5"></div></div></div></div></div></div>';
                    http.open("POST", url, true);
                    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    http.onreadystatechange = function() {//Call a function when the state changes.
    if(http.readyState == 4 && http.status == 200) {
        //alert("Command Sent Successfully!!");
        document.getElementById("loadingIcon{{ loop.index }}").innerHTML = '';
        document.getElementById("alertUser{{ loop.index }}").setAttribute("class", "alert alert-success");
        document.getElementById("alertUser{{ loop.index }}").setAttribute("role", "alert");
        document.getElementById("alertUser{{ loop.index }}").innerHTML = "Command Send Yay !!";
    }
}
http.send(params);
                       
                       
                       },false);
            {% endfor %}

document.getElementById("addDeviceButton").addEventListener("click",addDevice);

function addDevice()
{
    document.getElementById("addDeviceButton").disabled = true;
    document.getElementById("progressDiv").setAttribute("class", "progress");
    document.getElementById("progressBar").setAttribute("style", "width : 10%");

    var serialNumber = document.getElementById("deviceSerialNumber").value;
    
    url = "{{site.uri.public}}/checkEndPoint.php" + "?serial_num=" + serialNumber;
		try
		{
			ob=new XMLHttpRequest();
			ob.open("GET",url,true);
			ob.addEventListener("readystatechange",processResponse);
			ob.send();
			document.getElementById("progressBar").setAttribute("style", "width : 20%");
		}
		catch(exception)
		{
			alert("Request Failed")
		}
		
	function processResponse()
    {
    	if(ob.readyState==4)
    	{
    	    document.getElementById("progressBar").setAttribute("style", "width : 30%");
    		resp = ob.responseText;
    		if (resp == 0)
    		{
    		    //window.alert("error");
    		    document.getElementById("alertAddDevice").setAttribute("class", "alert alert-danger");
                document.getElementById("alertAddDevice").setAttribute("role", "alert");
                document.getElementById("alertAddDevice").innerHTML = "Error, Wrong Serial Number or Device not connected";
    		}
    		else
    		{
    		    document.getElementById("progressBar").setAttribute("style", "width : 70%");
    		    //window.alert('{{userName}} ' + resp);
    		    var http = new XMLHttpRequest();
                var url = "{{site.uri.public}}/createSDK.php";
                var params = "user_name={{userName}}"+ "&endPointInfo=" + resp;
                http.open("POST", url, true);
                http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                http.onreadystatechange = function() 
                    {//Call a function when the state changes.
                        if(http.readyState == 4 && http.status == 200) 
                        {
                            document.getElementById("progressBar").setAttribute("style", "width : 100%");
                            document.getElementById("alertAddDevice").setAttribute("class", "alert alert-success");
                            document.getElementById("alertAddDevice").setAttribute("role", "alert");
                            document.getElementById("alertAddDevice").innerHTML = "Yaaaaaay added successfully";
                            //window.alert("Info Sent Successfully");
                        }
    		        }
    		    http.send(params);
    	    }
        }
    }
}
    </script>
{% endblock %}
